/* You can add global styles to this file, and also import other style files */

/* importing Ubento font from google */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/* reseting css */
@import "~reset-css/reset";

/* my custom variables */

/* ### Primary

- Marine blue: hsl(213, 96%, 18%)
- Purplish blue: hsl(243, 100%, 62%)
- Pastel blue: hsl(228, 100%, 84%)
- Light blue: hsl(206, 94%, 87%)
- Strawberry red: hsl(354, 84%, 57%)

### Neutral

- Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%)
- Magnolia: hsl(217, 100%, 97%)
- Alabaster: hsl(231, 100%, 99%)
- White: hsl(0, 0%, 100%) */

:root {
  /* font */
  --font: "Ubuntu", sans-serif;

  /* colors */
  --primary: hsl(243, 100%, 62%);
  --primary-dark: hsl(213, 96%, 18%);
  --primary-light: hsl(228, 100%, 84%);
  --primary-lighter: hsl(206, 94%, 87%);
  --error: hsl(354, 84%, 57%);

  /* neutral colors */
  --tertiary: hsl(231, 11%, 63%);
  --tertiary-light: hsl(229, 24%, 87%);
  --light: hsl(0, 0%, 100%);
  --light-100: hsl(231, 100%, 99%);
  --light-200: hsl(217, 100%, 97%);

  /* --accent: hsl(230, 75, 98); */

  /* font size */
  --fs-1: 2.4rem;
  --fs-2: 1.6rem;
  --fs-3: 1.4rem;
  --fs-4: 1.2rem;
}

@media (min-width: 600px) {
  :root {
    --fs-1: 3.2rem;
  }
}

html {
  font-family: var(--font);
  /* making base font 10 px to make calculation easier */
  font-size: 0.625rem;
}

/* custom utilites */

.fw-light {
  font-weight: 400;
}

.fw-normal {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fs-4 {
  font-size: var(--fs-4);
}

.primary-text {
  color: var(--primary-dark);
}
.muted-text {
  color: var(--tertiary);
}
.muted-text-light {
  color: var(--primary-lighter);
}

.light-text {
  color: var(--light);
}
.muted-light-text {
  color: var(--light-100);
}

.title {
  font-size: var(--fs-1);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

/*  */
body {
  font-size: 1.6rem;
  background-color: var(--light-200);
  min-width: 100vw;
  min-height: 100vh;
}
/* shared styles */

.labels {
  margin-block: 2.4rem;
}
.label {
  cursor: pointer;
  display: flex;
  gap: 1.6rem;
  border: 1px solid var(--tertiary);
  padding: 1.6rem;
  border-radius: 6px;
}

.label.selected {
  border: 1px solid var(--primary);
  background-color: var(--light-100);
}

.label:not(first) {
  margin-top: 1.4rem;
}
.label__title {
  font-size: var(--fs-2);
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.label__price {
  font-size: var(--fs-3);
}
.label__extra {
  font-size: var(--fs-4);
}

.price__discount {
  display: block;
  margin-top: 1rem;
  font-size: var(--fs-4);
  color: var(--primary-dark);
  font-weight: 500;
}

.label__icon {
  width: 4rem;
  height: 4rem;
  background-size: cover;
}
