.header {
  height: 17.2rem;
  width: 100vw;
  background-image: url("../../../assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
  background-position: center center;
}

/* @media (min-width: 600px) {
  .header {
    height: 17.6rem;
    background-image: url("../../../assets/images/bg-sidebar-desktop.svg");
  }
} */

.step-labels {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.6rem;
  padding-top: 3.2rem;
}

.step-label__number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid var(--light);
  border-radius: 100%;
  width: 3.2rem;
  aspect-ratio: 1;
  background-color: transparent;
  font-size: var(--fs-3);
}

.step-label.active .step-label__number {
  background-color: var(--light);
  color: var(--primary-dark);
}

.step-label__text {
  display: none;
}

.container {
  width: min(34.5rem  , 80vw);

  padding: 3.2rem 2.4rem;
  background-color: var(--light);
  border-radius: 10px;
  margin: auto;
  margin-top: -7.2rem;
}

.footer{
  position: absolute;
  bottom: 0;
  left:   0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding:2.4rem 1.6rem;
  background-color: var(--light);
}

.button__next{
background-color: var(--primary-dark);
padding-block: 1rem;
color: var(--light);
border-radius: 5px;
margin-left: auto;
width:9.8rem
}
.button__next.confirm{
  background-color: var(--primary);
}

.nav-button{
  border: none;
  cursor: pointer;
  font-size: var(--fs-3);
  font-family: var(--font);
}

.button__previous{
  background-color: transparent;
  color:  var(--tertiary);
}
